.file-input {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .file-input-upload {
    background-color: #7a7a7a;
    width: 94px;
    height: 94px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;

    // img {
    //   width: 30px;
    // }

    p {
      font-size: 10px;
      color: white;
      margin-top: 4px;
    }
  }
  .img-uploaded {
    // width: 100% !important;
    // height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
  }
}
