.usermanagment .table-header {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 300px;
  gap: 8px;

  p {
    &:last-child {
      text-align: center;
      padding-right: 40px;
    }
  }
}

.usermanagment .table-row {
  grid-template-columns: 100px 1fr 1fr 300px;
  .blue-col {
    background-color: rgba(3, 122, 189, 0.06);
    color: #037abd;
  }
  .red-col {
    background-color: rgba(189, 3, 3, 0.06);
    color: #bd0303;
  }
}
