.usermanagment .table-header {
  display: grid;
  grid-template-columns: 20px 100px 220px 220px 1fr;
  gap: 8px;

  p {
    &:nth-child(4) {
      text-align: center;
      padding-right: 40px;
    }
  }
}

.usermanagment .table-row {
  grid-template-columns: 20px 100px 220px 220px 1fr;

  .blue-col {
    background-color: rgba(3, 122, 189, 0.06);
    color: #037abd;
  }
  .red-col {
    background-color: rgba(189, 3, 3, 0.06);
    color: #bd0303;
  }
}
